
.container {
  margin: 0 10rem;
  margin-top: 1rem;
}

.main-content {
  
}

.biding-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.seller-items {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}